{{#if (eq page.attributes.layout 'redoc')}}
    <redoc id='redoc-container'></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0/bundles/redoc.standalone.js"></script>
    <script>
        Redoc.init(
            '{{{relativize page.attributes.redoc-file}}}',
            {
                disableSearch: true,
                scrollYOffset: '.toolbar'
            },
            document.getElementById('redoc-container')
        )
    </script>
{{else}}
    <article class="doc">
        {{#with page.title}}
            <h1 class="page">{{{this}}}</h1>
        {{/with}}
        {{#if (eq page.attributes.layout 'page-list')}}
            {{> page-list}}
        {{else}}
            {{{page.contents}}}
        {{/if}}
        {{> pagination}}
    </article>
{{/if}}
