<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"><img src="{{uiRootPath}}/img/logo-dark2x.png" class="header_logo" /></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{relativize (resolveComponentReference site.components 'home' 'Basics')}}">Basics</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Guides</a>
          <div class="navbar-dropdown card">
            {{#each (resolveComponentNavigation site.components 'home' 'Guides')}}
              <a class="navbar-item" href="{{relativize this.url}}">{{this.content}}</a>
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Reference</a>
          <div class="navbar-dropdown card">
            {{#each site.components }}
              {{#if (eq this.asciidoc.attributes.type 'reference')}}
                <a class="navbar-item" href="{{{relativize this.url}}}">{{this.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search AxonIQ Docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        <a class="navbar-item navbar-button" href="https://academy.axoniq.io" target="_blank">AxonIQ Academy</a>
        <a class="navbar-item navbar-button" href="https://discuss.axoniq.io" target="_blank">AxonIQ Discuss</a>
        <a class="navbar-item navbar-button" href="https://console.axoniq.io" target="_blank">AxonIQ Console</a>
      </div>
    </div>
  </nav>
</header>
